@import "tailwindcss";

* {
  box-sizing: border-box;
}

:root {
  font-family: system-ui, Avenir, Helvetica, Arial, sans-serif;
  line-height: 1.5;
  font-weight: 400;

  font-synthesis: none;
  text-rendering: optimizeLegibility;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

#root {
  margin: 0;
}

body {
  margin: 0;
  min-width: 320px;
  min-height: 100vh;
}

@theme {
  --color-custom: #ff0000;
}

@layer utilities {
  .text-stroke-sm {
    -webkit-text-stroke-width: 1px;
    -webkit-text-stroke-color: black;
  }
  .text-stroke-md {
    -webkit-text-stroke-width: 2px;
    -webkit-text-stroke-color: black;
  }
  .text-stroke-custom {
    -webkit-text-stroke-width: 2px;
    -webkit-text-stroke-color: var(--color-custom); /* Use your custom theme color */
  }
}